---
---

<footer>
  <nav>
    <header>Links</header>
    <ul>
      <li>
        <a href="https://www.lionsclubs.org/" rel="noopener" target="_blank"
          >Lions Clubs International</a
        >
      </li>
      <li>
        <a
          href="https://www.lionsclubs.org/en/discover-our-foundation/mission"
          rel="noopener"
          target="_blank">LCIF</a
        >
      </li>
      <li>
        <a
          href="https://www.lionsclubs.org/en/resources-for-members/resource-center"
          rel="noopener"
          target="_blank">Resources for Members</a
        >
      </li>
      <li>
        <a href="https://myapps.lionsclubs.org/" rel="noopener" target="_blank"
          >Member Login</a
        >
      </li>
    </ul>
  </nav>
  <img
    class="lci-sig"
    src="/img/lci_sig_white.png"
    alt="Lions Clubs International"
    height="32"
  />
  <small
    >Lions Clubs International is the largest service club organization in the
    world. Our 1.4 million members are serving locally and globally to help take
    on some of the biggest challenges facing humanity.</small
  >
</footer>

<style>
  footer {
    background-color: var(--color-pri-bg);
    box-shadow: 0 -2px 8px rgb(0 0 0 / 63%);
    color: var(--color-pri-fg);
    padding: 2rem 1.5rem 1.5rem;
  }

  nav {
    margin-bottom: 1.5rem;
  }

  header {
    color: var(--color-sec-bg);
    font-size: small;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    border-radius: 2px;
    display: block;
    padding: 0.5rem 1.75rem;
    transition: background-color 0.2s, color 0.2s;
  }
  a:hover {
    background-color: var(--color-bg);
    color: var(--color-fg);
  }
  a:active {
    filter: brightness(90%);
  }

  .lci-sig {
    display: block;
    margin-bottom: 0.5rem;
  }
</style>
