---
import PersonIcon from './person.astro'

type Officer = { name: string; title: string, photo?: string }

const officers: Officer[] = [
  { name: 'Sowmya B. A.', title: 'President', photo: '/img/officers/sowmya.jpg' },
  { name: 'Dr. Shiva Shankar G. N.', title: '\u2160 Vice President' },
  { name: 'Deepika Sumal Vasudev', title: '\u2161 Vice President' },
  { name: 'Rajeshwari P Shekar', title: 'Secretary' },
  { name: 'Swathi P. V. Reddy', title: 'Treasurer' },
]
---

<h2>Office Bearers</h2>
<ul>
  {officers.map(officer => (
    <li>
      <div class="img-wrapper">
        {
          officer.photo
            ? <img src={officer.photo} alt="" width="42" height="42"/>
            : <PersonIcon />
        }
      </div>
      <div class="name-plate">
        <div class="name">{officer.name}</div>
        <div class="title">{officer.title}</div>
      </div>
    </li>
  ))}
</ul>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
  }
  li:last-child {
    margin-bottom: 0;
  }

  .img-wrapper {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 42px;
    height: 42px;
  }

  .name-plate {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.75rem;
  }

  .name {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .title {
    font-size: small;
    text-transform: uppercase;
  }
</style>
