---
import { Img } from 'astro-imagetools/components'
// @ts-expect-error
import type { About } from 'types/index.d.ts'

export interface Props {
  officers: About.officers
}

const { officers } = Astro.props as Props
---

<h2>Office Bearers</h2>
<ul>
  {officers.map(officer => (
  <li>
    <Img src={officer.photo} alt="" breakpoints={[180]} placeholder="none" attributes={ { img: {
      style: 'border-radius: 50%; width: 56px; height: 56px;' } } } />
    <div class="name-plate">
      <div class="name">{officer.name}</div>
      <div class="title">{officer.title}</div>
    </div>
  </li>
  ))}
</ul>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  li:last-child {
    margin-bottom: 0;
  }

  .name-plate {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.75rem;
  }

  .name {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .title {
    font-size: small;
    text-transform: uppercase;
  }
</style>