---
  import { DateTime } from 'luxon'
  import BaseLayout from 'layouts/BaseLayout.astro'
  import type { Activity, ActivityPageProps } from 'types/index.d.ts'

  export async function getStaticPaths({ paginate }) {
    const sorter = (
      { frontmatter: { date: date1 } },
      { frontmatter: { date: date2 } }
    ) => date1 > date2 ? -1 : date1 < date2 ? 1 : 0

    const activities = await Astro.glob<Activity>('./*.md')

    return paginate(activities.sort(sorter), { pageSize: 10 })
  }

  const { page } = Astro.props as ActivityPageProps
---

<BaseLayout title="Activities">
  {
  page.data.map(({ frontmatter, url }) => (
  <article class="card">
    <a href={ url.endsWith('/') ? url : url + '/' }>
      <img class="card-image" src={frontmatter.image} alt="" />
      <div class="card-content">
        <header>
          <div class="title">{frontmatter.title}</div>
          <time datetime={frontmatter.date}>{DateTime.fromISO(frontmatter.date)
            .setLocale('en-IN')
            .toLocaleString(DateTime.DATE_FULL)}</time>
        </header>
        <div>{frontmatter.description}</div>
      </div>
    </a>
  </article>
  ))
  }
</BaseLayout>

<style>
  article {
    margin-bottom: 1rem;
  }

  article:hover {
    filter: brightness(90%);
    transition: filter 0.2s;
  }

  article:active {
    filter: brightness(85%);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    display: block;
  }

  header {
    margin-bottom: 0.5rem;
  }

  .title {
    font-weight: 600;
  }

  time {
    font-size: small;
  }
</style>
