---
import BodyLayout from 'layouts/BodyLayout.astro'
import Button from 'components/ui/Button.astro'
---

<BodyLayout title="404: Not Found">
  <h1>Page Not found</h1>
  <Button href="/">Back to home</Button>
</BodyLayout>
