---
  import BaseLayout from 'layouts/BaseLayout.astro'
  import Button from 'components/ui/Button.astro'
---

<BaseLayout title="Page Not Found">
  <h1>Page Not Found</h1>
  <Button href="/">Back to home</Button>
</BaseLayout>
