---
  import BaseLayout from 'layouts/BaseLayout.astro'
---

<BaseLayout title="Contact">
  <form class="card card-content" name="contact" method="POST" action="/success" data-netlify="true">
    <h2>Contact us</h2>
    <div>
      <label for="name">Name:</label><input autocomplete="name" id="name" name="name" required type="text" />
    </div>
    <div>
      <label for="phone">Phone:</label><input autocomplete="tel" id="phone" name="phone" required type="tel" />
    </div>
    <div>
      <label for="email">Email: <span class="optional">(optional)</span></label><input autocomplete="email" id="email"
        name="email" type="email" />
    </div>
    <div>
      <label for="message">Message:</label><textarea id="message" name="message" required rows={3}></textarea>
    </div>
    <button type="submit">Send</button>
  </form>
</BaseLayout>

<style>
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.75rem;
  }

  form>div {
    margin-bottom: 1rem;
  }

  label {
    display: block;
    margin-bottom: 0.25rem;
  }

  .optional {
    font-size: small;
    font-style: italic;
  }

  input,
  textarea {
    border: 1px solid var(--color-fg);
    border-radius: 0.25rem;
    font-family: inherit;
    font-size: medium;
    line-height: 1.5;
    padding: 0.375rem;
    width: 100%;
  }

  textarea {
    resize: vertical;
  }

  button {
    align-self: flex-start;
    background-color: var(--color-sec-bg);
    border: 1px solid transparent;
    border-radius: 0.375rem;
    color: var(--color-sec-fg);
    cursor: pointer;
    font-size: medium;
    line-height: 1.5;
    margin-top: 1rem;
    min-width: 5rem;
    padding: calc(0.375rem - 1px) 0.75rem;
  }

  button:hover {
    filter: brightness(95%);
    transition: filter 0.2s;
  }

  button:active {
    box-shadow: 0 0 8px rgb(0 0 0 / 25%);
  }
</style>
