---
import BodyLayout from 'layouts/BodyLayout.astro'
import About from 'components/Home/About.astro'
import Carousel from 'components/Home/Carousel.astro'
import Contribute from 'components/Home/Contribute.astro'
---

<BodyLayout title="">
  <section><Carousel /></section>
  <section class="card"><About /></section>
  <section class="card"><Contribute /></section>
</BodyLayout>

<style>
  section {
    margin-top: 1rem;
    margin-bottom: 1.75rem;
  }
  section:first-child {
    margin-top: 1.25rem;
    margin-bottom: 0;
  }
  section:last-child {
    margin-bottom: 1rem;
  }

  section :global(h2) {
    background-image: linear-gradient(var(--color-sec-bg), var(--color-sec-bg));
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: min(68px, 100%) 4px;
    padding-bottom: 0.625rem;
  }

  section :global(p) {
    line-height: 1.5rem;
  }
</style>
