---
import BodyLayout from 'layouts/BodyLayout.astro'
import About from 'components/Home/About.astro'
import Carousel from 'components/Home/Carousel.astro'
import Contribute from 'components/Home/Contribute.astro'
---

<BodyLayout title="">
  <section><Carousel /></section>
  <section class="card card-content"><About /></section>
  <section class="card card-content"><Contribute /></section>
</BodyLayout>

<style>
  section {
    margin-top: 1rem;
    margin-bottom: 1.75rem;
  }
  section:first-child {
    margin-bottom: 0;
  }
  section:last-child {
    margin-bottom: 1rem;
  }
</style>
