---
import BaseLayout from "layouts/BaseLayout.astro"
import About from "components/Home/About.astro"
import Carousel from "components/Home/Carousel.astro"
import Contribute from "components/Home/Contribute.astro"
---

<BaseLayout title="">
  <Fragment slot="head">
    <meta property="og:title" content="Lions Club of Bangalore Prerana" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.lcbprerana.org/" />
    <meta
      property="og:image"
      content="https://www.lcbprerana.org/favicon-512.png"
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <meta property="og:image:alt" content="Lions Club logo" />
    <meta
      property="og:description"
      content="Lions Club of Bangalore Prerana is a part of Lions Clubs International, chartered in March 2022."
    />
  </Fragment>
  <section>
    <Carousel />
  </section>
  <section class="card card-content">
    <About />
  </section>
  <section class="card card-content">
    <Contribute />
  </section>
</BaseLayout>

<style>
  section {
    margin-bottom: 1.75rem;
  }

  section:first-child {
    margin-bottom: 1rem;
  }

  section:last-child {
    margin-bottom: 1rem;
  }
</style>

<script>
  import("https://identity.netlify.com/v1/netlify-identity-widget.js").then(
    () => {
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              window.location.href = "/admin/"
            })
          }
        })
      }
    }
  )
</script>
