---
import BodyLayout from 'layouts/BodyLayout.astro'
import About from 'components/Home/About.astro'
import Donate from 'components/Home/Donate.astro'
---

<BodyLayout title="">
  <section><About /></section>
  <section><Donate /></section>
</BodyLayout>

<style>
  section :global(h2) {
    background-image: linear-gradient(var(--color-sec-bg), var(--color-sec-bg));
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: min(68px, 100%) 4px;
    padding-bottom: 0.625rem;
  }

  section :global(p) {
    line-height: 1.25rem;
  }
</style>
