---
import BodyLayout from 'layouts/BodyLayout.astro'
import Button from 'components/ui/Button.astro'
---

<BodyLayout title="404: Not Found">
  <h1>Thank you!</h1>
  <p>We will get back to you shortly.</p>
  <Button href="/">Back to home</Button>
</BodyLayout>

<style>
  p {
    margin-bottom: 1.75rem;
  }
</style>
