---
import Button from 'components/ui/Button.astro'
---

<h2>We Inspire to Serve</h2>
<p>
  Lions Club of Bangalore Prerana is a part of Lions Clubs International,
  charted in March 2022 by Lion Sowmya B. A. as its charter president.
</p>
<Button kind="secondary" href="/about">Read More&hellip;</Button>
