---
  import Button from 'components/ui/Button.astro'
---

<h2>We Inspire to Serve</h2>
<p>
  Lions Club of Bangalore Prerana is a part of Lions Clubs International,
  chartered in March 2022.
</p>
<Button kind="secondary" href="/about">About us</Button>&nbsp;
<Button href="/activities">Activities</Button>
