---
import Button from 'components/ui/Button.astro'

const activities = [
  {
    image: 'img/Abhayashram-fabric_jewelry.jpg',
    caption:
      'Skill development fabric jewellery workshop for children at Vatsalya Abhayasharam',
  },
  {
    image: 'img/Abhayashram-hunger_relief.jpg',
    caption:
      'Hunger-relief for children at Abhayasharam',
  },
]
---

<section
  id="home-activities-carousel"
  class="splide"
  aria-label="Recent activities"
>
  <div class="splide__track">
    <ul class="splide__list">
      {activities.map(activity => (
        <li class="splide__slide">
          <div class="splide__slide__container">
            <img src={activity.image} />
            <div class="caption">
              {activity.caption}
            </div>
          </div>
        </li>
      ))}
    </ul>
  </div>
</section>

<Button kind="secondary" href="/activities">Read More Stories</Button>

<script is:inline src="/js/splide.min.js"></script>
<script is:inline
  >new Splide('#home-activities-carousel', {
    type: 'loop',
    autoplay: true,
    interval: 4000,
  }).mount()</script
>

<style>
  section {
    margin-bottom: 1rem;
  }

  img {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    max-width: 100%;
  }

  .caption {
    padding: 0.5rem;
    text-align: center;
  }
</style><style is:global>
  .splide__arrow {
    background: var(--color-sec-bg);
    opacity: 1;
    width: 2rem;
    height: 2rem;
  }

  .splide__arrow:hover:not(:disabled) {
    filter: brightness(95%);
    opacity: 1;
  }

  .splide__arrow:active:not(:disabled) {
    filter: brightness(85%);
    opacity: 1;
  }

  .splide__arrow--prev {
    left: -0.8rem;
  }

  .splide__arrow--next {
    right: -0.8rem;
  }

  .splide__pagination {
    position: static;
  }

  .splide__pagination__page {
    background: #b9b9b9;
  }

  .splide__pagination__page.is-active {
    background: #3e3e3e;
  }

  .splide__slide__container {
    background-color: #f6f6f6;
    border-radius: 0.375rem;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
    margin: 0 3px 3px;
  }
</style>
