---
import Button from 'components/ui/Button.astro'
---

<section
  id="home-activities-carousel"
  class="splide"
  aria-label="Recent activities"
>
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="splide__slide__container">
          <img src="img/Abhayashram-fabric_jewelry.jpg" />
        </div>
        <div class="caption">
          Skill development fabric jewellery workshop for children at Vatsalya
          Abhayasharam
        </div>
      </li>
      <li class="splide__slide">
        <div class="splide__slide__container">
          <img src="img/Abhayashram-hunger_relief.jpg" />
        </div>
        <div class="caption">Hunger-relief at Abhayasharam</div>
      </li>
      <li class="splide__slide">
        <div class="splide__slide__container">
          <img src="img/Abhayashram-Warli.jpg" />
        </div>
        <div class="caption">
          Warli painting workshop for children at Vatsalya Abhayasharam
        </div>
      </li>
    </ul>
  </div>
</section>

<Button kind="secondary" href="/activities">Read More Stories</Button>

<script is:inline src="/js/splide.min.js"></script>
<script is:inline
  >new Splide('#home-activities-carousel', {
    type: 'loop',
    height: '15rem',
    autoplay: true,
    interval: 4000,
  }).mount()</script
>

<style>
  section {
    margin-bottom: 1rem;
  }

  img {
    border-radius: 0.375rem;
    max-width: 100%;
    height: calc(100vw / 1.5);
    object-fit: cover;
    object-position: 50% 50%;
  }

  .caption {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
</style><style is:global>
  .splide__arrow {
    background: var(--color-sec-bg);
    opacity: 1;
    width: 2rem;
    height: 2rem;
  }

  .splide__arrow:hover:not(:disabled) {
    filter: brightness(95%);
    opacity: 1;
  }

  .splide__arrow:active:not(:disabled) {
    filter: brightness(85%);
    opacity: 1;
  }

  .splide__arrow--prev {
    left: -1rem;
  }

  .splide__arrow--next {
    right: -1rem;
  }

  .splide__pagination {
    position: static;
  }

  .splide__pagination__page {
    background: #b9b9b9;
  }

  .splide__pagination__page.is-active {
    background: #3e3e3e;
  }
</style>
