---
  import '@splidejs/splide/dist/css/splide-core.min.css'
  import '@splidejs/splide/dist/css/splide.min.css'
  import './carousel.css'
  import type { Activity } from "types/index.d.ts"
  import { Img } from 'astro-imagetools/components'

  const activities = await Astro.glob<Activity>('../../pages/activities/*.md')
---

<div id="home-activities-carousel" class="splide" aria-label="Recent activities">
  <div class="splide__track">
    <ul class="splide__list">
      {activities.slice(0, 5).map(({ frontmatter, url }) => (
      <li class="splide__slide">
        <a class="splide__slide__container card" href={ url.endsWith('/') ? url : url + '/' }>
          <Img src={frontmatter.image} alt="" width={984} attributes={{ img: { class: 'card-image' } }} />
          <div class="caption">
            {frontmatter.description}
          </div>
        </a>
      </li>
      ))}
    </ul>
  </div>
</div>

<script>
  import Splide from "@splidejs/splide"

  document.addEventListener('DOMContentLoaded', function () {
    new Splide('#home-activities-carousel', {
      type: 'loop',
      autoplay: true,
      interval: 4000,
    }).mount()
  });
</script>

<style>
  a {
    color: inherit;
    text-decoration: none;
  }

  .caption {
    padding: 0.5rem;
    text-align: center;
  }

  .center {
    display: flex;
    justify-content: center;
  }
</style>
