---
import Button from 'components/ui/Button.astro'
---

<h2>How You Can Contribute</h2>
<p>
  Join us by becoming a member, participating in our service activities or
  sponsoring them.
</p>
<Button kind="secondary" href="/contact">Contact us</Button>
