---
export interface Props {
  title: string
}

const { title } = Astro.props as Props

const navItems = [
  { title: 'Home', url: '/' },
  { title: 'About', url: '/about' },
  { title: 'Activities', url: '/activities' },
  { title: 'Contact', url: '/contact' },
]

---

<div class="root">
  <div>
    <img src="/img/favicon.png" alt="" width="48" height="48" />
    Lions Club of Bangalore Prerana
  </div>
  <nav>
    <ul>
      {navItems.map(item =>(
        <li>
          <a href={item.url}>
            <div class="title">{item.title}
            {
              (title === item.title || title === '' && item.url === '/')
              && <div class="underline"/>
            }
            </div>
          </a>
        </li>
      ))}
    </ul>
  </nav>
</div>

<style>
  .root {
    background-color: var(--color-pri-bg);
    color: var(--color-pri-fg);
  }

  @media screen and (min-width: 901px) {
    .root {
      display: none;
    }
  }

  .root > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 0.5rem 1rem 0;
  }

  img {
    margin-right: 0.5rem;
  }

  nav {
    box-shadow: 0 -6px 0 var(--color-pri-bg), 0 2px 8px rgb(0 0 0 / 63%);
    padding: 0;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    flex-basis: 25%;
  }

  a {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  a:hover {
    background-color: hsla(0, 0%, 100%, 0.063);
  }

  a:active {
    background-color: hsla(0, 0%, 100%, 0.125);
  }

  .title {
    position: relative;
  }

  .underline {
    margin-top: 4px;
    position: absolute;
    height: 3px;
    width: 100%;
  }
</style>
