<nav>
  <header>Links</header>
  <ul>
    <li>
      <a href="https://www.lionsclubs.org/" rel="noopener" target="_blank">Lions Clubs International</a>
    </li>
    <li>
      <a href="https://www.lionsclubs.org/en/discover-our-foundation/mission" rel="noopener" target="_blank">LCIF</a>
    </li>
    <li>
      <a href="https://www.lionsclubs.org/en/resources-for-members/resource-center" rel="noopener"
        target="_blank">Resources for Members</a>
    </li>
    <li>
      <a href="https://myapps.lionsclubs.org/" rel="noopener" target="_blank">Member Login</a>
    </li>
  </ul>
</nav>

<style>
  header {
    color: var(--color-sec-bg);
    font-size: small;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
  }

  ul {
    list-style-type: '\BB';
    margin: 0;
    padding: 0;
  }

  li {
    margin-left: 1.5rem;
    padding-inline-start: 0.25rem;
  }

  li::marker {
    color: var(--color-sec-bg);
  }

  li>a {
    border-radius: 2px;
    color: inherit;
    display: block;
    padding: 0.5rem 0.25rem;
    text-decoration: none;
    transition: background-color 0.2s;
  }

  li>a:hover {
    background-color: hsla(0, 0%, 100%, 0.063);
  }

  li>a:active {
    background-color: hsla(0, 0%, 100%, 0.125);
  }
</style>
