---
import BaseLayout from './BaseLayout.astro'
import Header from 'components/Body/Header.astro'

export interface Props {
  title: string
}

const { title } = Astro.props as Props
---

<BaseLayout {title}>
  <Header {title} />
  <main>
    <slot />
  </main>
  <footer>
    <!-- Social icons? -->
    <!-- Nav? -->
    <img src="/img/lci_sig_white.png" alt="Lions Clubs International" /><br />
    <small
      >Lions Clubs International is the largest service club organization in the
      world. Our 1.4 million members are serving locally and globally to help
      take on some of the biggest challenges facing humanity.</small
    >
  </footer>
</BaseLayout>

<style>
  footer {
    background-color: var(--color-pri-bg);
    box-shadow: 0 -2px 8px 0 #000000a0;
    color: var(--color-pri-fg);
    padding: 2rem 1rem 1.5rem;
  }

  main {
    padding: 1rem;
  }
</style>
