:root {
  --color-bg: #f5f5f5;
  --color-fg: #363636;

  --color-pri-bg: #112e57;
  --color-pri-fg: #fff;
  --color-sec-bg: #f9c910;
  --color-sec-fg: #000;

  --font-size-lg: 1.2rem;
  --font-size-xl: 2rem;
}

html {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

main {
  max-width: 40rem;
  padding: 1.375rem 1rem 1rem;
  width: 100%;
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

h2 {
  background-image: linear-gradient(var(--color-sec-bg), var(--color-sec-bg));
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: min(68px, 100%) 4px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1.125rem;
  padding-bottom: 0.625rem;
}

p {
  line-height: 1.375rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

input:focus,
textarea:focus {
  border-color: var(--color-sec-bg);
  box-shadow: 0 0 6px var(--color-sec-bg);
  outline: 1px solid var(--color-sec-bg);
}

a {
  text-decoration-style: dotted;
  text-underline-offset: 3px;
}

.card {
  background-color: #fff;
  border-radius: 0.375rem;
  box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
}

.card-content {
  padding: 1rem;
}

.card-image {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  max-width: 100%;
}

.underline {
  background-color: var(--color-sec-bg);
}
