---
export interface Props {
  kind?: "primary" | "secondary" | "tertiary"
  href?: string
}

const { kind = "primary", href } = Astro.props as Props
---

<a class={kind} {href}>
  <slot></slot>
</a>

<style>
  a {
    display: inline-flex;
    align-items: center;
    border-radius: 0.375rem;
    line-height: 1.5;
    padding: calc(0.375rem - 1px) 0.75rem;
    text-decoration: none;
  }

  a:hover {
    filter: brightness(95%);
    transition: filter 0.2s;
  }

  a:active {
    box-shadow: 0 0 8px rgb(0 0 0 / 25%);
  }

  .primary {
    background-color: var(--color-pri-bg);
    color: var(--color-pri-fg);
    border: 1px solid transparent;
  }

  .secondary {
    background-color: var(--color-sec-bg);
    color: var(--color-sec-fg);
    border: 1px solid transparent;
  }

  .tertiary {
    color: var(--color-pri-bg);
    border: 1px solid var(--color-pri-bg);
  }

  .tertiary:hover {
    background-color: var(--color-pri-bg);
    color: var(--color-pri-fg);
    transition: background-color 0.2s, color 0.2s;
  }
</style>
